---
import BaseLayout from '../layouts/BaseLayout.astro';
import CartPage from '../components/CartPage.jsx';
---

<BaseLayout title="Tu Carrito | Giopromet" description="Revisa los items en tu carrito de compras">
  <div class="pt-20">
    <CartPage client:load />
  </div>
</BaseLayout>
