---
import Prototipo from '../components/Prototipo.jsx';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="pt-20">
    <Prototipo client:load />
  </div>
</BaseLayout>
